@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
  --foreground: #333333;
}

.dark {
  --background: linear-gradient(135deg, #0f0f0f, #333333);
  --foreground: #f0f0f0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
