@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shadow {
  @apply shadow-lg shadow-gray-500/40 dark:shadow-gray-500/40;
}

.hidden-on-mobile {
  @apply hidden;
}

.hidden-on-desktop  {
  @apply md:hidden;
}

:root {
  --special-yellow: #fed337;
  --special-violet: #ad88bd;
  --special-white: #ffffff;
  --special-green: #a2ca4d;

  --textColor-regular: #3e444a;
  --textColor-primary: #ad88bd;
  --textColor-secondary: #77767f;

  --theme-backdrop: #ffffff;;
  --theme-background: #ffffff;;
  --theme-background-2: #ad88bd3f;
}

.dark {
  --theme-backdrop: #3e444a;
  --theme-background: #3e444a;
  --theme-background-2: #a2ca4d9c;

  --textColor-regular: #ffffff;
  --textColor-primary: #fed337;
  --textColor-secondary: #77767f;
}

body {
  color: var(--textColor-regular);
  background: var(--theme-background);
  font-family: Arial, Helvetica, sans-serif;
  transition:
    background-color 0.3s,
    color 0.3s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
